<nav class="navbar bg-dark ">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" (click)="started=false" routerLink="">Home</a>
    <a class="navbar-brand text-white me-1"   (click)="started=true;showNotice()" routerLink="starshipList"> START SHIP LIST</a>
    
  <div class="d-flex" role="search">
      <a *ngIf="loggedIn"class="navbar-brand text-white" (click)="started=true">{{logInUser}}</a>
      <a *ngIf="loggedIn ; else noLog" class="navbar-brand text-white" (click)="started=true ; logOut()" routerLink="logIn">LOG-OUT</a>
      <ng-template #noLog>
        <a class="navbar-brand text-white" (click)="started=true ; logOut()" routerLink="logIn">LOG-IN</a>
      </ng-template>
      <a class="navbar-brand text-white"   (click)="started=true "routerLink="signUp">SIGN UP</a>
 </div>
  </div>
</nav>
<div *ngIf="started===false">
  <div class="card">
    <div class="card-body text-center">
      <h5 class="card-title">Bienvenido</h5>
      <p class="card-text">Esta página muestra el listado de naves de las saga Starwars</p>
      <p class="card-text">-Para per el listado de naves debe hacer click en el boton starship</p>
      <p class="card-text">-Debe primero logearse en log-in</p>
      <p class="card-text">-Si no tiene usario debe darse de alta en sign-up</p>
      <button class="btn bg-dark text-white" type="button" (click)="started=!started">Comenzar</button>
    </div>
     
    <img src="assets/img/logo.jpg" style="height: 600px;" class="card-img-bottom" alt="...">
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">

   
   
    
  </div>

</div>


<main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>