<div class="container">
<div class="row">
  <div class="col">
  <nav>
  <button (click)="started=false" routerLink="">Home</button>
  <button
  routerLink="starshipList"  (click)="started=true" >Starship List</button>
  <button>log in</button>
  <button>sign up</button>
</nav>

<div *ngIf="started===false">
  <p>Bienvenido: Esta página muestra el listado de naves de las saga Starwars</p>
  <p>-Para per el listado de naves debe hacer click en el boton starship</p>
  <p>-Debe primero logearse en log-in</p>
  <p>-Si no tiene usario de varse de alta en sign-up</p>
  <button (click)="started=!started">Comenzar</button>
</div>

</div>

</div>
<router-outlet></router-outlet>



</div>
