<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form [formGroup]=signUpForm (ngSubmit)="submit()">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Username</label>
                    <input formControlName="name" class="form-control" id="inputName">
                    <div class="warning" *ngIf="signUpForm.get('name')?.invalid && signUpForm.get('name')?.touched">Debe contener 5 caracteres min</div>
                </div>
                <div class="mb-3">
                  <label for="inputPassword" class="form-label">Password</label>
                  <input formControlName="password" class="form-control" id="inputPassword">
                  <div class="warning" *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">Debe contener 8 caracteres como mínimo</div>
                </div>
                <div class="mb-3">
                    <label for="InputEmail1" class="form-label">Email address</label>
                    <input formControlName="mail"  class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                    <div class="warning" *ngIf="signUpForm.get('mail')?.invalid && signUpForm.get('mail')?.touched">Direccion de mail no válida</div>
                </div>
                <div class="mb-3">
                    <label for="repeatMail" class="form-label">Confirm Email address</label>
                    <input formControlName="repeatMail" class="form-control" id="repeatMail">
                    <div class="warning" *ngIf="signUpForm.get('repeatMail')?.invalid && (signUpForm.get('repeatMail')?.value!=signUpForm.get('mail')?.value) && signUpForm.get('repeatMail')?.touched">Debe contener 5 caracteres min</div>
                    <div class="warning" *ngIf="signUpForm.get('repeatMail')?.value!=signUpForm.get('mail')?.value">Los mails no coinciden</div>
                </div>
               
                <button type="submit" class="btn btn-dark">Sign Up</button>
              </form>
            

        </div>
        <div class="col-4">
            
        </div>
    </div>
</div>