<div class="card mb-3">
    <img src="https://starwars-visualguide.com/assets/img/starships/{{id}}.jpg" class="card-img-top" alt="{{ship?.name}}">
    <div class="card-body">
      <h5 class="card-title">{{ship?.name}}</h5>
      <p class="card-text">
                          
        Model:{{ship?.model}} <br>
        manufacturer:{{ship?.manufacturer}} <br>          
        cost_in_credits:{{ship?.manufacturer}} <br>
        length:{{ship?.manufacturer}} <br>
        max_atmosphering_speed:{{ship?.max_atmosphering_speed}} <br>
        crew:                  {{ship?.crew}} <br>
        passengers:            {{ship?.passengers}} <br>
        cargo_capacity:        {{ship?.cargo_capacity}} <br>
        consumables:           {{ship?.consumables}} <br>
        hyperdrive_rating:     {{ship?.hyperdrive_rating}} <br>
        MGLT:                  {{ship?.MGLT}} <br>
        starship_class:        {{ship?.starship_class}}
      </p>
      
    </div>
  </div>
